#bg {
  position: fixed !important;
}


/*--------------- Hero ------------------*/

.hero {
  width: 100%;
  height: 40%;
}

.cta {
  margin-top: 2%;
}

.hero-logo {
  display: block;
  width: 15%;
  height: auto;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgba(4, 39, 66, 1);
  font-weight: 500;
}

h2 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  width: 80%;
  font-size: 2rem;
  margin: 0 auto 1.5em auto;
  color: rgba(4, 39, 66, 1);
}

.blue {
  color: #0C74C1;
}

/* --------- Committees ------------ */


#committee-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.committee {
  width: 40%;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.16) 0 4px 6px;
  border-radius: 10px;
  margin: 3em auto 0 auto;
  padding: 2em;
}

.people {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.people a {
  display: flex;
  flex-direction: column;
}

.people img {
  max-width: 60%;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.16) 0 4px 10px;
  margin: 0 auto;
}

.name {
  margin: 1em auto;
}

p {
  width: 100%;
  font-weight: 200;
  color: #042742;
  text-align: center;
  width: 80%;
  margin: 1em auto;
  line-height: 1.5rem;
}

hr {
  width: 20%;
  border: 1px solid #0C74C1;
  margin: 2em auto 0 auto;
}
