#bg {
  position: fixed !important;
}


/*--------------- Hero ------------------*/

.hero {
  width: 100%;
  height: 40%;
}

.cta {
  margin-top: 2%;
}

.hero-logo {
  display: block;
  width: 15%;
  height: auto;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgba(4, 39, 66, 1);
  font-weight: 500;
}

h2 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  width: 50%;
  font-size: 2rem;
  margin: 0 auto 1.5em auto;
  color: rgba(4, 39, 66, 1);
}

.blue {
  color: #0C74C1;
}

/*------- People -----------*/

.people {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

.people-container {
  width: 70%;
  display: grid;
  margin: 4em auto;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5%;
}


.name {
  margin-top: 5%;
  text-align: center;
  color: rgba(4, 39, 66, 1);
  font-weight: 400;
  font-size: 1.25rem;
}

.position {
  text-align: center;
  font-weight: 200;
  color: #0C74C1;
}

.person img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.16) 0 4px 10px;
}

.person .social-box {
  margin: 5% auto 0 auto;
  float: none;
  height: 30px;
  width: 30px;
}
